<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <form action="#" th:action="@{saveSession}" th:object="${user}" method="post">
        <label for="">Username: </label>
        <br>
        <input type="text" th:field="*{username}">
        <br><br>
        <label for="">Password: </label>
        <br>
        <input type="password" th:field="*{password}">
        <br><br>
        <input type="submit" name="action" value="login" text="Sign in">
    </form>
    <div>Dont have an account?</div>
    <a href="/register">Register a new account</a>
</div>

</body>
</html>